html,
body {
    margin: 0;
    padding: 0;    
    font-family: 'Arial';
}

.inner-container{
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/criss-cross.png");
}


h1 {
    margin: 0;   
}

h1:hover {
    color:#ddd;
}

 header{
     display: flex;
    height: 50px;
    padding: 20px;
    justify-content : space-between;
    align-items: center;
    background-color: #ffffff;
    font-family:'Arial';
    
    } 
    
    .teal-block{
        background-color: #4aaaa5;
        height: 100px;
        width: 200px;
        padding-left: 5px;
    }

    .tabs{
        display: flex;
        margin: 0px;
        padding: 0px;
        list-style: none;
        align-content: space-between
        
    }
    @media screen and (max-width: 600px) {
         .tabs {   
          flex-direction: column;
        }
      }
  
      @media screen and (max-width: 600px) {
        .container{
          float: none;
          width: 100%;
        }
    }
      
    .link{
        padding: 10px 20px;
        color: black;
        text-decoration: none;
        border-right-style:solid;
        border-width: 4px;
    }
    a:link {
        color:rgb(10, 10, 10);
      }
         a:hover {
        color: rgb(107, 107, 107);
      }
    
    .container {
        display: flex;
        
        min-height: 100vh;
        flex-direction: column; 
        position: relative;
        justify-content: space-between;
        

      }
      .label{
          Display: block;
          margin-bottom:10px;
      }
      .column--main{
        flex:3; 
        background: #dddddd;
        align-content: }
      
      .column--sidebar{
        flex:1;
        background: #aaaaaa;
      }
          
    footer{
      height: 100px;
      border-top: 8px solid #4aaaa5;
      background-color: #666666;
      position: fixed;
      align-items: flex-end;
     
      /* opacity: 0.25; */
         
     }
    
     .group{
        margin-bottom: 10px;
        right: 50px;
    
    }
    .input{
        border:1px solid #999;
        padding:  10px 20px;
        border-radius: 10px;
    }


   
