html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;   
}

h1:hover {
    color: white;
}
 header{
     display: flex;
    height: 50px;
    padding: 20px;
    justify-content : space-between;
    align-items: center;
    background-color: #4aaaa5;
    font-family:'Verdana';
    
    } 

    .tabs{
        display: flex;
        margin: 0px;
        padding: 0px;
        list-style: none;
        
    }
    .link{
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        border-right-style:solid;
        border-width: 4px;
    }
    a:link {
        color:white;
      }
         a:hover {
        color: darkolivegreen;
      }
    
    .container {
        display: flex;
        
        min-height: 100vh;
        flex-direction: column; 
        position: relative;
        justify-content: space-between;

      }
      .label{
          Display: block;
          margin-bottom:10px;
      }
      .column--main{
        flex:3; 
        background: #dddddd;
      }
      .column--sidebar{
        flex:1;
        background: #aaaaaa;
      }
          
    footer{
      height: 100px;
      border-top: 8px solid #4aaaa5;
      background-color: #666666;
      /* opacity: 0.25; */
         
     }
     
     h2{
        margin-top:20px;
        padding: 20px;
    }
     .group{
        margin-bottom: 10px;
        right: 50px;
    
    }
    .input{
        border:1px solid #999;
        padding:  10px 20px;
        border-radius: 10px;
    }

    .home{
        display:flex;
        justify-content:flex-end;
        align-items: left;
        border-radius: 10px;
        
    }

   
